/* globals */
* {
	.box-sizing(border-box);
}

html, body, header, nav, section, footer, form, input, fieldset, textarea, figure, article, div, ul, li, h1, h2, h3, p, a {
	margin: 0;
	padding:0;
	text-decoration:none;
	font-weight: normal;
	font-family: arial;
}

html,body {
	width:100%;
}

li {
	list-style:none;
}

a, div, img {
	border: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* ui */
.productBox, .spinner {
	position: relative;
	display: inline-block;
	padding: 24px;
	border: 2px solid #ddd;
	background-color: #eee;
	text-align: center;
	min-height: 150px;
	vertical-align: middle;
}

.spinner {
	background-image: url('../img/spinner.gif');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 16px 16px;
}

.adBox {
	position: absolute;
	top: 102%;
}

.adBox img {
	width: 100%;
}

.adRow {
	margin-bottom: 150px;
	vertical-align: top;
}

.endOfCatalog {
	border: 2px dashed #ddd;
	padding: 24px;
	background-color: #eee;
	width: 100%;
	text-align: center;
}

.titleBar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 30px;
	background-color: #75A9F3;
	text-align: right;
	padding: 12px;
	box-shadow: 0 10px 24px -8px rgba(0,0,0,0.75);
}

.titleBar .title {
	display: inline-block;
	vertical-align: middle;
	float: left;
}

.titleBar .menu {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	float: right;
}

header {
	margin-top: 60px;
}